{% block body %}
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="welcome">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Accueil <span class="text-primary"> Administration</span>
                </h1>
                <div class="justify-content-center">
                    <p class="lead mb-5">
                        <img  src="https://zupimages.net/up/20/30/uzzi.png" alt="picture">
                    </p></div>

{% endblock %}