<ul class="nav justify-content-around flex-column vh-100 position-fixed">
    {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('experiences_index') }}"> Index des expériences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('project_index') }}"> Index des projets</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('skills_index') }}"> Index des compétences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{{ path('app_logout') }}"> Deconnexion </a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link active" href="/">À Propos</a>
    </li>
    <li class="nav-item centernav">
        <a class="nav-link active" id="experiences" href="#experiences">Expériences</a>
    </li>
    <li class="nav-item centernav">
        <a class="nav-link active" id="competences" href="#competences">Compétences</a>
    </li>
    <li class="nav-item centernav">
        <a class="nav-link active" id="projets" href="#projets"> Projets</a>
    </li>
    <li class="nav-item centernav">
        <a class="nav-link active" id="me-contacter" href="#me-contacter"> Me contacter</a>
    </li>
</ul>
